In [5]:
#importing required libraries
import pandas as pd
import numpy as np

In [6]:
#reading the csv file
ipl=pd.read_csv('IPLpred.csv')
#seeing there if any not null values are presrent
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 17 columns):
id                 565 non-null int64
season             565 non-null int64
city               558 non-null object
date               565 non-null object
team1              565 non-null object
team2              565 non-null object
toss_winner        565 non-null object
toss_decision      565 non-null object
result             565 non-null object
dl_applied         565 non-null int64
winner             562 non-null object
win_by_runs        565 non-null int64
win_by_wickets     565 non-null int64
player_of_match    562 non-null object
venue              565 non-null object
umpire1            564 non-null object
umpire2            564 non-null object
dtypes: int64(5), object(12)
memory usage: 75.1+ KB

In [7]:
#displaying all column names
ipl.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2'],
      dtype='object')

In [8]:
#removing the unwanted columns from the dataframe
ipl2=ipl.drop(['season','date','player_of_match'],axis='columns')
ipl2.head()

,id,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,umpire1,umpire2
0,1,Hyderabad,SRH,RCB,RCB,field,normal,0,SRH,35,0,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,Pune,MI,RPS,RPS,field,normal,0,RPS,0,7,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,Rajkot,GL,KKR,KKR,field,normal,0,KKR,0,10,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan
3,4,Indore,RPS,KXIP,KXIP,field,normal,0,KXIP,0,6,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin
4,5,Bangalore,RCB,DD,RCB,bat,normal,0,RCB,15,0,M Chinnaswamy Stadium,NaN,NaN

In [9]:
#importing label encoder from preprocessing directory
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [10]:
#transforming the data in numeric values
d=ipl2['city'].tolist()
e=ipl2['winner'].tolist()
f=ipl2['umpire1'].tolist()
g=ipl2['umpire2'].tolist()
ipl2['city']=le.fit_transform(d)
ipl2['team1']=le.fit_transform(ipl2['team1'])
ipl2['team2']=le.fit_transform(ipl2['team2'])
ipl2['toss_winner']=le.fit_transform(ipl2['toss_winner'])
ipl2['toss_decision']=le.fit_transform(ipl2['toss_decision'])
ipl2['result']=le.fit_transform(ipl2['result'])
ipl2['dl_applied']=le.fit_transform(ipl2['dl_applied'])
ipl2['winner']=le.fit_transform(e)
ipl2['venue']=le.fit_transform(ipl2['venue'])
ipl2['umpire1']=le.fit_transform(f)
ipl2['umpire2']=le.fit_transform(g)
ipl2.head(5)

,id,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,umpire1,umpire2
0,1,8,11,8,8,1,1,0,11,35,0,16,5,23
1,2,15,6,9,9,1,1,0,9,0,7,13,1,33
2,3,17,3,4,4,1,1,0,4,0,10,18,26,11
3,4,9,9,5,5,1,1,0,5,0,6,9,2,9
4,5,2,8,2,8,0,1,0,8,15,0,11,41,43

In [11]:
target=ipl2['winner']
ipl_final=ipl2.drop(['winner','id'],axis='columns')
ipl_final.head(1)

,city,team1,team2,toss_winner,toss_decision,result,dl_applied,win_by_runs,win_by_wickets,venue,umpire1,umpire2
0,8,11,8,8,1,1,0,35,0,16,5,23

# Splitting the data in training set and testing set

In [12]:
#splitting the data for train and test
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(ipl_final,target,test_size=0.2,random_state=80)
print('xtrain shape:',xtrain.shape)
print('xtest shape:',xtest.shape)
print('ytrain shape:',ytrain.shape)
print('ytest shape:',ytest.shape)

xtrain shape: (452, 12)
xtest shape: (113, 12)
ytrain shape: (452,)
ytest shape: (113,)

# Importing and applying decision tree classifier

In [13]:
#importing decision tree classifier
from sklearn import tree
model=tree.DecisionTreeClassifier()
#fitting the model in tree
model.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [14]:
#predicting the score
ypred=model.predict(xtest)
model.score(xtest,ytest)

0.8938053097345132

# Importing and applying SVM

In [15]:
from sklearn import svm
sv=svm.SVC(kernel='linear')
sv.fit(xtrain,ytrain)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [16]:
ypred=sv.predict(xtest)
ypred

array([ 3,  2,  6,  6,  6,  8,  0, 11,  0,  4,  8,  0, 10,  8, 11,  8, 10,
        8,  0,  5,  2,  4,  3,  8,  0,  0, 10,  8,  8,  0, 10,  6,  2, 11,
       11,  8,  4,  0,  2,  4,  5,  0,  6, 11,  0,  8,  8,  6,  8, 10,  5,
        0,  4,  4,  0,  4,  2,  4,  0, 10,  4,  4,  4, 11,  6,  5,  5,  0,
       11,  2,  5,  0,  6,  6,  5,  0,  6,  0,  0, 11,  6,  5,  6,  6,  2,
        2,  0,  5,  5,  4,  5,  0,  5,  5,  0,  6,  4,  6,  6, 10,  3,  6,
        0,  4,  8,  0,  6,  5,  4,  8,  8, 10,  2], dtype=int64)

In [17]:
from sklearn import metrics
p=metrics.accuracy_score(ytest,ypred)
p

0.3185840707964602

# Decision tree classifier algorithm gives maximum accuracy